nav {
  background-color: #070029;
  padding: 20px 0;
  text-align: center; /* Center align navigation links */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#hero {
  background-color: #f0f0f0;
  padding: 50px 0;
  text-align: center; 
}

#hero h1 {
  margin: 0;
  font-size: 3rem;
}

#hero p {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #313131;
}


#about {
  background-color: #f0f0f0;
  padding: 50px 0;
  text-align: center; 
}

#about h2 {
  margin: 0;
  font-size: 1.8rem;
}

#about p {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-right: 500px;
  margin-left: 500px; 
}

#about a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#about a:hover {
  background-color: #555;
}

#education, #experience, #extra{
  padding: 50px 0;
  text-align: center; 
}

#education h2, #experience h2, #extra h2 {
  margin: 0;
  font-size: 2rem;
}

#education p, #experience p, #extra p {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-right: 300px;
  margin-left: 300px; 
}

footer {
  background-color: #070029;
  padding: 20px 0;
  text-align: center; /* Center align footer content */
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1700px) {
  #about p {
    margin-right: 300px; 
    margin-left: 300px; 
  }
}

@media screen and (max-width: 1300px) {
  #about p {
    margin-right: 200px; 
    margin-left: 200px; 
  }
}

@media screen and (max-width: 1000px) {
  #about p {
    margin-right: 100px; 
    margin-left: 100px; 
  }
}

@media screen and (max-width: 800px) {
  #about p {
    margin-right: 0px; 
    margin-left: 0px; 
  }
}